<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.gtms.dao.DistributionDao">



    <!-- 结果映射配置 -->
    <resultMap id="AccountPO" type="com.nju.edu.gtms.model.po.AccountPO">
        <id column="account" property="account" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="power" property="power" />
    </resultMap>

</mapper>
