<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.gtms.dao.ReviewDao">
    <insert id="insertReview" parameterType="com.nju.edu.gtms.model.po.ReviewPO">
        INSERT INTO reviews (
            thesis_id,
            internal_teacher_id,
            internal_score,
            external_teacher_id,
            external_score,
            date
        ) VALUES (
                     #{thesisId},
                     #{internalTeacherId},
                     #{internalScore},
                     #{externalTeacherId},
                     #{externalScore},
                     #{date}
                 )
    </insert>
    <delete id="deleteReviewByThesisId" >
        DELETE FROM reviews
        WHERE thesis_id = #{thesisId}
    </delete>
    <select id="getThesisByReviewerId" resultMap="ReviewVO">
        SELECT
            t.title,
            t.thesis_id,
            s.student_name,
            tec.teacher_name,
            t.status
        FROM
            reviews r
                JOIN
            thesis t ON r.thesis_id = t.thesis_id
                JOIN
            teachers tec ON t.teacher_id = tec.teacher_id
                JOIN
            students s ON t.student_id = s.student_id
        WHERE
            (r.internal_teacher_id = #{teacherId} AND r.internal_score = -1)
           OR (r.external_teacher_id = #{teacherId} AND r.external_score = -1);

    </select>
    <select id="getRules" resultMap="ReviewRuleVO">
        select review_item,review_element,max_score from review_rules
    </select>
    <delete id="resetRule">
        TRUNCATE TABLE review_rules
    </delete>
    <insert id="insertRule" parameterType="com.nju.edu.gtms.model.vo.ReviewRuleVO">
        INSERT INTO review_rules (review_item, review_element, max_score)
        VALUES (#{reviewItem}, #{reviewElement}, #{maxScore})
    </insert>

    <update id="updateReview" parameterType="com.nju.edu.gtms.model.po.ReviewPO">
        UPDATE reviews
        SET
            thesis_id = #{thesisId},
            internal_teacher_id = #{internalTeacherId},
            internal_comment = #{internalComment},
            internal_advice = #{internalAdvice},
            internal_score = #{internalScore},
            external_teacher_id = #{externalTeacherId},
            external_comment = #{externalComment},
            external_advice = #{externalAdvice},
            external_score = #{externalScore},
            date = #{date}
        WHERE review_id = #{reviewId}
    </update>

    <select id="getReviewMessageByThesisId" resultMap="ReviewMessageVO">
        select internal_comment,
               internal_advice,
               external_comment,
               external_advice
        from reviews where thesis_id=#{thesisId}
    </select>
    <select id="getReviewByThesisId" resultMap="ReviewPO">
        select *
        from reviews where thesis_id=#{thesisId};
    </select>

    <select id="getReviewConclusion" resultMap="ReviewConclusionVO">
        select t.title,
               t.thesis_id,
               t.student_name,
               t.student_id,
               t.status,
               r.internal_score,
               r.external_score,
               r.date
        from thesis t
        join reviews r on t.thesis_id = r.thesis_id
        where t.teacher_id=#{teacherId} and
              r.internal_score != -1 and
              r.external_score != -1;
    </select>


    <resultMap id="ReviewRuleVO" type="com.nju.edu.gtms.model.vo.ReviewRuleVO">
        <result property="reviewItem" column="review_item" />
        <result property="reviewElement" column="review_element" />
        <result property="maxScore" column="max_score" />
    </resultMap>

    <resultMap id="ReviewMessageVO" type="com.nju.edu.gtms.model.vo.ReviewMessageVO">
        <result property="internalComment" column="internal_comment" />
        <result property="internalAdvice" column="internal_advice" />
        <result property="externalComment" column="external_comment" />
        <result property="externalAdvice" column="external_advice" />
    </resultMap>

    <resultMap id="ReviewVO" type="com.nju.edu.gtms.model.vo.ReviewVO">
        <result property="title" column="title" />
        <result property="thesisId" column="thesis_id" />
        <result property="studentName" column="student_name" />
        <result property="teacherName" column="teacher_name" />
        <result property="status" column="status" />
    </resultMap>


    <!-- 结果映射配置 -->
    <resultMap id="ReviewPO" type="com.nju.edu.gtms.model.po.ReviewPO">
        <id column="review_id" property="reviewId" />
        <result column="thesis_id" property="thesisId" />
        <result column="internal_teacher_id" property="internalTeacherId" />
        <result column="internal_comment" property="internalComment" />
        <result column="internal_advice" property="internalAdvice" />
        <result column="internal_score" property="internalScore" />
        <result column="external_teacher_id" property="externalTeacherId" />
        <result column="external_comment" property="externalComment" />
        <result column="external_advice" property="externalAdvice" />
        <result column="external_score" property="externalScore" />
        <result column="date" property="date" javaType="java.util.Date" />
    </resultMap>

    <resultMap id="ReviewConclusionVO" type="com.nju.edu.gtms.model.vo.ReviewConclusionVO">
        <result property="title" column="title" />
        <result property="thesisId" column="thesis_id" />
        <result property="studentName" column="student_name" />
        <result property="studentId" column="student_id" />
        <result property="status" column="status" />
        <result property="internalScore" column="internal_score" />
        <result property="externalScore" column="external_score" />
        <result property="date" column="date" />

    </resultMap>

</mapper>