<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.gtms.dao.SessionDao">

    <update id="fileUpload" timeout="10">
        update session_message
        <set>
            <if test="type != null">
                ${type} = #{url},
            </if>
        </set>
        where message_id = #{message_id}
    </update>

    <select id="fileDownload" timeout="10" resultType="String">
        select ${type} FROM session WHERE session_id = #{id}
    </select>

    <insert id="submitSessionVO" parameterType="com.nju.edu.gtms.model.vo.SessionVO" useGeneratedKeys="true" keyProperty="insertedKeyHolder.insertedId">
        insert into session (teacher_id, student_id, session_time) values (
                                                                         #{sessionVO.teacherId},
                                                                         #{sessionVO.studentId},
                                                                         CURRENT_TIMESTAMP
                                                                     )
    </insert>

    <insert id="submitSessionMessageVO" parameterType="com.nju.edu.gtms.model.vo.SessionMessageVO" useGeneratedKeys="true" keyProperty="insertedKeyHolder.insertedId">
        insert into session_message (message_id, session_id, title, remarks, message_url, message_time) values(
                                      null,
                                      #{sessionMessageVO.sessionId},
                                      #{sessionMessageVO.title},
                                      #{sessionMessageVO.remarks},
                                      null,
                                      CURRENT_TIMESTAMP
                                  )
    </insert>

    <select id="getSessionByTeacherId" resultMap="SessionPO">
        select * from session where teacher_id = #{teacherId}
    </select>

    <select id="getSessionMessage" resultMap="SessionMessagePO">
        select * from session_message where session_id = #{sessionId}
    </select>
    <!-- 结果映射配置 -->
    <resultMap id="SessionPO" type="com.nju.edu.gtms.model.po.SessionPO">
        <id column="session_id" property="sessionId" />
        <result column="teacher_id" property="teacherId" />
        <result column="student_id" property="studentId" />
        <result column="session_time" property="sessionTime"  />
    </resultMap>

    <resultMap id="SessionMessagePO" type="com.nju.edu.gtms.model.po.SessionMessagePO">
        <id column="message_id" property="messageId" />
        <result column="session_id" property="sessionId" />
        <result column="title" property="title" />
        <result column="remarks" property="remarks" />
        <result column="message_url" property="messageUrl" />
        <result column="message_time" property="messageTime"  />
    </resultMap>

</mapper>
