<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.gtms.dao.StudentDao">

    <select id="findOneByNumber" resultType="com.nju.edu.gtms.model.po.StudentPO">
        select * from students where student_number =#{studentNumber}
    </select>
    <resultMap id="StudentPO" type="com.nju.edu.gtms.model.po.StudentPO">
        <id column="student_number" property="studentId" />
        <result column="student_name" property="studentName" />
        <result column="class" property="grade" />
        <result column="phone" property="phone" />
        <result column="office_phone" property="officePhone" />
        <result column="home_phone" property="homePhone" />
        <result column="emergency_contact_name" property="emergencyContactName" />
        <result column="emergency_contact_phone" property="emergencyContactPhone" />
        <result column="email_1" property="email1" />
        <result column="email_2" property="email2" />
        <result column="company" property="company" />
        <result column="position" property="position" />
        <result column="excellent_courses" property="excellentCourses" />
        <result column="good_courses" property="goodCourses" />
        <result column="fair_courses" property="fairCourses" />
        <result column="pass_courses" property="passCourses" />
        <result column="distribute" property="distribute" />
    </resultMap>
</mapper>