<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.gtms.dao.TeacherDao">

    <select id="findOneById" resultMap="TeacherPO">
        select * from teachers where teacher_id =#{teacherId}
    </select>
    <!-- 结果映射配置 -->
    <resultMap id="TeacherPO" type="com.nju.edu.gtms.model.po.TeacherPO">
        <id column="teacher_id" property="teacherId" />
        <result column="teacher_name" property="teacherName" />
        <result column="phone" property="phone" />
        <result column="office_phone" property="officePhone" />
        <result column="email" property="email" />
        <result column="title" property="title" />
        <result column="education" property="education" />
        <result column="category" property="category" />
    </resultMap>

</mapper>
