<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.gtms.dao.ThesisDao">

    <select id="findThesisByTeacherId" resultMap="ThesisPO">
        select * from thesis where teacher_id=#{teacherId}
    </select>

    <select id="findThesisByTeacherIdAndStatus" resultMap="ThesisPO">
        select * from thesis where teacher_id=#{teacherId} and status=#{status}
    </select>

    <select id="findOneByThesisId" resultMap="ThesisPO">
        select * from thesis where thesis_id=#{ThesisId}
    </select>

    <select id="findAllThesis" resultMap="ThesisPO">
        select * from thesis;
    </select>

    <select id="getThesisByStatus" resultMap="ThesisPO">
        select * from thesis where status = #{status}
    </select>

    <update id="setThesisStatue" timeout="10">
        update thesis set status = #{status} where thesis_id=#{thesisId}
    </update>

    <delete id="deleteOneByThesisId" timeout="10">
        delete from thesis where thesis_id=#{thesisId}
    </delete>

    <update id="fileUpload" timeout="10">
        update thesis
        <set>
            <if test="type != null">
                ${type} = #{url},
            </if>
        </set>
        where thesis_id = #{thesis_id}
    </update>

    <select id="fileDownload" timeout="10" resultType="String">
        select ${type} FROM thesis WHERE thesis_id = #{id}
    </select>

    <insert id="addPlagiarismCheck" parameterType="com.nju.edu.gtms.model.po.PlagiarismCheckPO">
        INSERT INTO plagiarism_check ( thesis_id, repetition, conclusion,date)
        VALUES (#{thesisId}, #{repetition}, #{conclusion},#{date})
    </insert>

    <!-- 结果映射配置 -->
    <resultMap id="ThesisPO" type="com.nju.edu.gtms.model.po.ThesisPO">
        <id column="thesis_id" property="thesisId" />
        <result column="student_id" property="studentId" />
        <result column="student_name" property="studentName" />
        <result column="teacher_id" property="teacherId" />
        <result column="teacher_name" property="teacherName" />
        <result column="title" property="title" />
        <result column="comment" property="comment" />
        <result column="opinion" property="opinion" />
        <result column="opinion_url" property="opinionUrl" />
        <result column="status" property="status" />
        <result column="thesis_url" property="thesisUrl" />
        <result column="defense_times" property="defenseTimes" javaType="int" />
        <result column="proposal_url" property="proposalUrl"/>
    </resultMap>

</mapper>