<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.gtms.dao.ThesisDefenseDao">

    <update id="fileUpload" timeout="10">
        update thesis_defense
        <set>
            <if test="type != null">
                ${type} = #{url},
            </if>
        </set>
        where defense_id = #{defense_id}
    </update>

    <select id="fileDownload" timeout="10" resultType="String">
        select ${type} FROM thesis_defense WHERE defense_id = #{id}
    </select>

    <select id="findDefenseByThesisId" resultMap="ThesisDefensePO">
        select * from thesis_defense where thesis_id = #{thesisId}
    </select>

    <update id = "saveInformation" parameterType="com.nju.edu.gtms.model.po.ThesisDefensePO">
        update thesis_defense
        <set>
            <if test="defense_id != null"> `defense_id`  = #{defenseId},</if>
            <if test="secretary != null"> `secretary`  = #{secretary},</if>
            <if test="teacher_1 != null"> `teacher_1`  = #{teacher1},</if>
            <if test="teacher_2 != null"> `teacher_2`  = #{teacher2},</if>
            <if test="teacher_3 != null"> `teacher_3`  = #{teacher3},</if>
            <if test="conclusion != null"> `conclusion`  = #{conclusion},</if>
            <if test="resolution != null"> `resolution`  = #{resolution},</if>
            <if test="defense_remarks != null"> `defense_remarks`  = #{defenseRemarks},</if>
            <if test="defense_url != null"> `defense_url`  = #{defenseUrl},</if>
            <if test="resolution_url != null"> `resolution_url`  = #{resolutionUrl},</if>
            <if test="thesis_id != null"> `thesis_id`  = #{thesisId},</if>
            <if test="place != null"> `place`  = #{place},</if>
            <if test="review != null"> `review`  = #{review},</if>
            <if test="secretary != null"> `secretary`  = #{secretary},</if>
        </set>
        where defense_id  = #{defenseId}
    </update>

    <select id="findThesisByTeacherId" resultMap="ThesisDefensePO">
        select * from thesis_defense where secretary=#{teacherId}
    </select>

<!--    <insert id = "saveInformation" parameterType="thesisDefensePO">-->
<!--        insert into thesis_defense-->
<!--        (`defense_id`,`thesis_id`, `secretary`, `teacher_1`, `teacher_2`, `teacher_3`,-->
<!--        `conclusion`, `resolution`, `defense_remarks`, `defense_url`,-->
<!--        `resolution_url`, `place`, `date`, `review`-->
<!--        ) values (-->
<!--        #{defenseId}, #{thesisId}, #{secretary}, #{teacher1}, #{teacher2}, #{teacher3},-->
<!--        #{conclusion}, #{resolution}, #{defenseRemarks}, #{defenseUrl},-->
<!--        #{resolutionUrl}, #{place}, #{date}, #{review}-->
<!--        )-->
<!--    </insert>-->
    <!-- 结果映射配置 -->
    <resultMap id="ThesisDefensePO" type="com.nju.edu.gtms.model.po.ThesisDefensePO">
        <id column="defense_id" property="defenseId" />
        <result column="thesis_id" property="thesisId" />
        <result column="secretary" property="secretary" />
        <result column="teacher_1" property="teacher1" />
        <result column="teacher_2" property="teacher2" />
        <result column="teacher_3" property="teacher3" />
        <result column="conclusion" property="conclusion" />
        <result column="resolution" property="resolution" />
        <result column="defense_remarks" property="defenseRemarks" />
        <result column="defense_url" property="defenseUrl" />
        <result column="resolution_url" property="resolutionUrl" />
        <result column="place" property="place" />
        <result column="date" property="date" javaType="java.util.Date" />
        <result column="review" property="review" />
    </resultMap>

</mapper>